<!DOCTYPE html>
<html>

	<head>
		<title>EZBUS</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style type="text/css">
			body{
				background-color: skyblue; font-family: verdana; color: black; padding: 30px; text-align: center;
			}
			h1{
				font-size: 50px; text-transform: uppercase; letter-spacing: 2px; text-align: center; padding-top: 50px;
			}
			h2{
				padding: 20px 0;
			}
			input{
				padding: 12px 20px; margin: 8px 0;
			}
			select{
				margin: 8px 0; width: 100px; height: 30px; margin-top: 0px;
			}
			button{
				margin: 8px 0;
			}
			table {height: 10vh; 
			    font-family: arial, sans-serif;
			    border-collapse: collapse;
			    width: 100%;
			}

			td, th {
			    border: 1px solid #dddddd;
			    text-align: left;
			    padding: 8px;
			}

			tr:nth-child(even) {
			    background-color: #dddddd;
			}
		</style>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<!-- <script src="/login.js"></script> -->
	</head>

	<body style="background-size: 100%;">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		      </button>
		      <a class="navbar-brand" href="home" style="width: 150px; font-size: 30px;">Ezbus</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="home">Home</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<% if(!name){ %>
		        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		        <% } %>
		        <% if(name){ %>
		        <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		        <% } %>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div>
			<h1>Welcome to EZBUS! <%= name %></h1>
			<form method="post">
				<h2>Book a Ticket!</h2>
				<span>From: </span>
				<select name="from" required>
					<% for(var i=0; i< stations.length; i++){ %>
						<option value="<%= stations[i].stn_name %>"> <%= stations[i].stn_name %> </option>
					<% } %>
				</select>
				<span>To: </span>
				<select name="to" required>
					<% for(var i=0; i< stations.length; i++){ %>
						<option value="<%= stations[i].stn_name %>"> <%= stations[i].stn_name %> </option>
					<% } %>
				</select>
				<span>Date: </span>
				<input type="date" name="date" id="date" required>
				<button type="submit" value="submit">Check for Buses!</button>
			</form>
			<% if(name){ %>
				<h2>Booking History: </h2>
				<table>
					<tr>
						<th>Seat number</th>
						<th>Bus name</th>
						<th>Day</th>
						<th>Month</th>
						<th>Year</th>
						<th>Bus Route</th>
						<th>Status</th>
					</tr>
					<% for(var i=0; i< rows.length; i++){ %>
						<tr>
							<td> <%= rows[i].ticket_id %> </td>
							<td> <%= rows[i].bus_id %> </td>
							<td> <%= rows[i].day %> </td>
							<td> <%= rows[i].month %> </td>
							<td> <%= rows[i].year %> </td>
							<td> <%= rows[i].way %> </td>
							<td> <a href="/delete/<%= rows[i].booking_id %>">Cancel booking</a> </td>
						</tr>
					<% } %>
				</table>
			<% } %>
		</div>
	</body>

</html>